<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinhui.mapper.assets.IpoAssetMapper" >
  <resultMap id="BaseResultMap" type="com.jinhui.model.IpoAsset" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="asset_type" property="assetType" jdbcType="INTEGER" />
    <result column="borrower" property="borrower" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="DECIMAL" />
    <result column="tenor_type" property="tenorType" jdbcType="INTEGER" />
    <result column="tenor" property="tenor" jdbcType="INTEGER" />
    <result column="repayment_type" property="repaymentType" jdbcType="VARCHAR" />
    <result column="financing_cost" property="financingCost" jdbcType="DECIMAL" />
    <result column="financing_type" property="financingType" jdbcType="INTEGER" />
    <result column="financing_purpose" property="financingPurpose" jdbcType="VARCHAR" />
    <result column="timing_requirement" property="timingRequirement" jdbcType="VARCHAR" />
    <result column="ipo_relation" property="ipoRelation" jdbcType="INTEGER" />
    <result column="listed_code" property="listedCode" jdbcType="CHAR" />
    <result column="holder_background" property="holderBackground" jdbcType="INTEGER" />
    <result column="capital" property="capital" jdbcType="DECIMAL" />
    <result column="founded_time" property="foundedTime" jdbcType="DATE" />
    <result column="industry" property="industry" jdbcType="INTEGER" />
    <result column="located_province" property="locatedProvince" jdbcType="VARCHAR" />
    <result column="located_city" property="locatedCity" jdbcType="VARCHAR" />
    <result column="major_business" property="majorBusiness" jdbcType="VARCHAR" />
    <result column="business_desc" property="businessDesc" jdbcType="VARCHAR" />
    <result column="total_asset" property="totalAsset" jdbcType="DECIMAL" />
    <result column="net_asset" property="netAsset" jdbcType="DECIMAL" />
    <result column="main_income" property="mainIncome" jdbcType="DECIMAL" />
    <result column="net_profit" property="netProfit" jdbcType="DECIMAL" />
    <result column="gross_profit_ratio" property="grossProfitRatio" jdbcType="DECIMAL" />
    <result column="rating" property="rating" jdbcType="INTEGER" />
    <result column="forecast" property="forecast" jdbcType="INTEGER" />
    <result column="public_debt" property="publicDebt" jdbcType="BIT" />
    <result column="mature_date" property="matureDate" jdbcType="DATE" />
    <result column="bank_line" property="bankLine" jdbcType="VARCHAR" />
    <result column="bad_suit" property="badSuit" jdbcType="BIT" />
    <result column="law_suit" property="lawSuit" jdbcType="BIT" />
    <result column="finance_cooporation" property="financeCooporation" jdbcType="VARCHAR" />
    <result column="land_value" property="landValue" jdbcType="DECIMAL" />
    <result column="project_value" property="projectValue" jdbcType="DECIMAL" />
    <result column="other_collateral" property="otherCollateral" jdbcType="DECIMAL" />
    <result column="receivable" property="receivable" jdbcType="DECIMAL" />
    <result column="counter_party" property="counterParty" jdbcType="VARCHAR" />
    <result column="repay_date" property="repayDate" jdbcType="DATE" />
    <result column="pledge_stock" property="pledgeStock" jdbcType="VARCHAR" />
    <result column="pledge_ratio" property="pledgeRatio" jdbcType="VARCHAR" />
    <result column="other_pledge" property="otherPledge" jdbcType="VARCHAR" />
    <result column="guarantor" property="guarantor" jdbcType="CHAR" />
    <result column="guarantor_background" property="guarantorBackground" jdbcType="VARCHAR" />
    <result column="guarantor_rating" property="guarantorRating" jdbcType="INTEGER" />
    <result column="lisence" property="lisence" jdbcType="VARCHAR" />
    <result column="org_inst_code" property="orgInstCode" jdbcType="VARCHAR" />
    <result column="tax_reg" property="taxReg" jdbcType="VARCHAR" />
    <result column="le_id" property="leId" jdbcType="VARCHAR" />
    <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
    <result column="ac_approval" property="acApproval" jdbcType="VARCHAR" />
    <result column="article" property="article" jdbcType="VARCHAR" />
    <result column="captial_ver" property="captialVer" jdbcType="VARCHAR" />
    <result column="credit_report" property="creditReport" jdbcType="VARCHAR" />
    <result column="feasibility" property="feasibility" jdbcType="VARCHAR" />
    <result column="audit_report" property="auditReport" jdbcType="VARCHAR" />
    <result column="finance_statement" property="financeStatement" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />  
    <result column="finance_dvalid" property="financeDvalid" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="other_file" property="otherFile" jdbcType="VARCHAR" />  
    
    <result column="is_trust" property="isTrust" jdbcType="INTEGER" />
    <result column="is_guarante" property="isGuarante" jdbcType="INTEGER" />
    <result column="guarantor_type" property="guarantorType" jdbcType="INTEGER" />
    <result column="guarantor_financier_relation" property="guarantorFinancierRelation" jdbcType="INTEGER" />
    <result column="guarantor_regist_money" property="guarantorRegistMoney" jdbcType="DECIMAL" />
    <result column="guarantor_total_money" property="guarantorTotalMoney" jdbcType="DECIMAL" />
    <result column="guarantor_net_money" property="guarantorNetMoney" jdbcType="DECIMAL" />
    <result column="guarantor_revenue" property="guarantorRevenue" jdbcType="DECIMAL" />
    <result column="guarantor_net_profit" property="guarantorNetProfit" jdbcType="DECIMAL" />
    <result column="guarantor_gross_rate" property="guarantorGrossRate" jdbcType="DECIMAL" />
    <result column="guarantor_setup_date" property="guarantorSetupDate" jdbcType="DATE" />
    <result column="guarantor_data_expired" property="guarantorDataExpired" jdbcType="DATE" />
    <result column="guarantor_rating_outlook" property="guarantorRatingOutlook" jdbcType="INTEGER" />
    <result column="guarantor_is_publish" property="guarantorIsPublish" jdbcType="INTEGER" />
    <result column="guarantor_lastest_date" property="guarantorLastestDate" jdbcType="DATE" />
    <result column="guarantor_bad_breach" property="guarantorBadBreach" jdbcType="INTEGER" />
    <result column="guarantor_pending_action" property="guarantorPendingAction" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    a.creator_id,a.name,a.short_name,i.aid, i.asset_type, i.borrower, i.scale, i.tenor_type, i.tenor, i.repayment_type, i.financing_cost, 
    i.financing_type, i.financing_purpose, i.timing_requirement, i.ipo_relation, i.listed_code, 
    i.holder_background, i.capital, i.founded_time, i.industry, i.located_province, i.located_city, i.major_business, 
    i.business_desc, i.total_asset, i.net_asset, i.main_income, i.net_profit, i.gross_profit_ratio, 
    i.rating, i.forecast, i.public_debt, i.mature_date, i.bank_line, i.bad_suit, i.law_suit, i.finance_cooporation, 
    i.land_value, i.project_value, i.other_collateral, i.receivable, i.counter_party, i.repay_date, 
    i.pledge_stock, i.pledge_ratio, i.other_pledge, i.guarantor, i.guarantor_background, i.guarantor_rating, 
    i.lisence, i.org_inst_code, i.tax_reg, i.le_id, i.bank_card, i.ac_approval, i.article, i.captial_ver, 
    i.credit_report, i.feasibility, i.audit_report, i.finance_statement,i.finance_dvalid,i.other_file,
    i.is_trust,i.is_guarante,i.guarantor_type,i.guarantor_financier_relation,i.guarantor_regist_money,i.guarantor_total_money,
    i.guarantor_net_money,i.guarantor_revenue,i.guarantor_net_profit,i.guarantor_gross_rate,i.guarantor_setup_date,i.guarantor_data_expired,
    i.guarantor_rating_outlook,i.guarantor_is_publish,i.guarantor_lastest_date,i.guarantor_bad_breach,i.guarantor_pending_action
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ipo_asset
    where aid = #{aid,jdbcType=INTEGER}
  </select>  
   <select id="selectByAssetId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ipo_asset i
    left join assets a on a.id = i.aid 
    where i.aid = #{assetId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ipo_asset
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinhui.model.IpoAsset" >
    update ipo_asset
    <set >
      <if test="assetType != null" >
        asset_type = #{assetType,jdbcType=INTEGER},
      </if>
      <if test="borrower != null" >
        borrower = #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        scale = #{scale,jdbcType=DECIMAL},
      </if>
      <if test="tenorType != null" >
        tenor_type = #{tenorType,jdbcType=INTEGER},
      </if>
      <if test="tenor != null" >
        tenor = #{tenor,jdbcType=INTEGER},
      </if>
      <if test="repaymentType != null" >
        repayment_type = #{repaymentType,jdbcType=VARCHAR},
      </if>
      <if test="financingCost != null" >
        financing_cost = #{financingCost,jdbcType=DECIMAL},
      </if>
      <if test="financingType != null" >
        financing_type = #{financingType,jdbcType=INTEGER},
      </if>
      <if test="financingPurpose != null" >
        financing_purpose = #{financingPurpose,jdbcType=VARCHAR},
      </if>
      <if test="timingRequirement != null" >
        timing_requirement = #{timingRequirement,jdbcType=VARCHAR},
      </if>
      <if test="ipoRelation != null" >
        ipo_relation = #{ipoRelation,jdbcType=INTEGER},
      </if>
      <if test="listedCode != null" >
        listed_code = #{listedCode,jdbcType=CHAR},
      </if>
      <if test="holderBackground != null" >
        holder_background = #{holderBackground,jdbcType=INTEGER},
      </if>
      <if test="capital != null" >
        capital = #{capital,jdbcType=DECIMAL},
      </if>
      <if test="foundedTime != null" >
        founded_time = #{foundedTime,jdbcType=DATE},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=INTEGER},
      </if>
      <if test="locatedProvince != null" >
        located_province = #{locatedProvince,jdbcType=VARCHAR},
      </if>
      <if test="locatedCity != null" >
        located_city = #{locatedCity,jdbcType=VARCHAR},
      </if>
      <if test="majorBusiness != null" >
        major_business = #{majorBusiness,jdbcType=VARCHAR},
      </if>
      <if test="businessDesc != null" >
        business_desc = #{businessDesc,jdbcType=VARCHAR},
      </if>
      <if test="totalAsset != null" >
        total_asset = #{totalAsset,jdbcType=DECIMAL},
      </if>
      <if test="netAsset != null" >
        net_asset = #{netAsset,jdbcType=DECIMAL},
      </if>
      <if test="mainIncome != null" >
        main_income = #{mainIncome,jdbcType=DECIMAL},
      </if>
      <if test="netProfit != null" >
        net_profit = #{netProfit,jdbcType=DECIMAL},
      </if>
      <if test="grossProfitRatio != null" >
        gross_profit_ratio = #{grossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=INTEGER},
      </if>
      <if test="forecast != null" >
        forecast = #{forecast,jdbcType=INTEGER},
      </if>
      <if test="publicDebt != null" >
        public_debt = #{publicDebt,jdbcType=BIT},
      </if>
      <if test="matureDate != null" >
        mature_date = #{matureDate,jdbcType=DATE},
      </if>
      <if test="bankLine != null" >
        bank_line = #{bankLine,jdbcType=VARCHAR},
      </if>
      <if test="badSuit != null" >
        bad_suit = #{badSuit,jdbcType=BIT},
      </if>
      <if test="lawSuit != null" >
        law_suit = #{lawSuit,jdbcType=BIT},
      </if>
      <if test="financeCooporation != null" >
        finance_cooporation = #{financeCooporation,jdbcType=VARCHAR},
      </if>
      <if test="landValue != null" >
        land_value = #{landValue,jdbcType=DECIMAL},
      </if>
      <if test="projectValue != null" >
        project_value = #{projectValue,jdbcType=DECIMAL},
      </if>
      <if test="otherCollateral != null" >
        other_collateral = #{otherCollateral,jdbcType=DECIMAL},
      </if>
      <if test="receivable != null" >
        receivable = #{receivable,jdbcType=DECIMAL},
      </if>
      <if test="counterParty != null" >
        counter_party = #{counterParty,jdbcType=VARCHAR},
      </if>
      <if test="repayDate != null" >
        repay_date = #{repayDate,jdbcType=DATE},
      </if>
      <if test="pledgeStock != null" >
        pledge_stock = #{pledgeStock,jdbcType=VARCHAR},
      </if>
      <if test="pledgeRatio != null" >
        pledge_ratio = #{pledgeRatio,jdbcType=VARCHAR},
      </if>
      <if test="otherPledge != null" >
        other_pledge = #{otherPledge,jdbcType=VARCHAR},
      </if>
      <if test="guarantor != null" >
        guarantor = #{guarantor,jdbcType=CHAR},
      </if>
      <if test="guarantorBackground != null" >
        guarantor_background = #{guarantorBackground,jdbcType=VARCHAR},
      </if>
      <if test="guarantorRating != null" >
        guarantor_rating = #{guarantorRating,jdbcType=INTEGER},
      </if>
      <if test="lisence != null" >
        lisence = #{lisence,jdbcType=VARCHAR},
      </if>
      <if test="orgInstCode != null" >
        org_inst_code = #{orgInstCode,jdbcType=VARCHAR},
      </if>
      <if test="taxReg != null" >
        tax_reg = #{taxReg,jdbcType=VARCHAR},
      </if>
      <if test="leId != null" >
        le_id = #{leId,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="acApproval != null" >
        ac_approval = #{acApproval,jdbcType=VARCHAR},
      </if>
      <if test="article != null" >
        article = #{article,jdbcType=VARCHAR},
      </if>
      <if test="captialVer != null" >
        captial_ver = #{captialVer,jdbcType=VARCHAR},
      </if>
      <if test="creditReport != null" >
        credit_report = #{creditReport,jdbcType=VARCHAR},
      </if>
      <if test="feasibility != null" >
        feasibility = #{feasibility,jdbcType=VARCHAR},
      </if>
      <if test="auditReport != null" >
        audit_report = #{auditReport,jdbcType=VARCHAR},
      </if>
      <if test="financeStatement != null" >
        finance_statement = #{financeStatement,jdbcType=VARCHAR},
      </if>
      <if test="financeDvalid != null" >
        finance_dvalid = #{financeDvalid,jdbcType=TIMESTAMP},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinhui.model.IpoAsset" >
    update ipo_asset
    set asset_type = #{assetType,jdbcType=INTEGER},
      borrower = #{borrower,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=DECIMAL},
      tenor_type = #{tenorType,jdbcType=INTEGER},
      tenor = #{tenor,jdbcType=INTEGER},
      repayment_type = #{repaymentType,jdbcType=VARCHAR},
      financing_cost = #{financingCost,jdbcType=DECIMAL},
      financing_type = #{financingType,jdbcType=INTEGER},
      financing_purpose = #{financingPurpose,jdbcType=VARCHAR},
      timing_requirement = #{timingRequirement,jdbcType=VARCHAR},
      ipo_relation = #{ipoRelation,jdbcType=INTEGER},
      listed_code = #{listedCode,jdbcType=CHAR},
      holder_background = #{holderBackground,jdbcType=INTEGER},
      capital = #{capital,jdbcType=DECIMAL},
      founded_time = #{foundedTime,jdbcType=DATE},
      industry = #{industry,jdbcType=INTEGER},
      located_province = #{locatedProvince,jdbcType=VARCHAR},
      located_city = #{locatedCity,jdbcType=VARCHAR},
      major_business = #{majorBusiness,jdbcType=VARCHAR},
      business_desc = #{businessDesc,jdbcType=VARCHAR},
      total_asset = #{totalAsset,jdbcType=DECIMAL},
      net_asset = #{netAsset,jdbcType=DECIMAL},
      main_income = #{mainIncome,jdbcType=DECIMAL},
      net_profit = #{netProfit,jdbcType=DECIMAL},
      gross_profit_ratio = #{grossProfitRatio,jdbcType=DECIMAL},
      rating = #{rating,jdbcType=INTEGER},
      forecast = #{forecast,jdbcType=INTEGER},
      public_debt = #{publicDebt,jdbcType=BIT},
      mature_date = #{matureDate,jdbcType=DATE},
      bank_line = #{bankLine,jdbcType=VARCHAR},
      bad_suit = #{badSuit,jdbcType=BIT},
      law_suit = #{lawSuit,jdbcType=BIT},
      finance_cooporation = #{financeCooporation,jdbcType=VARCHAR},
      land_value = #{landValue,jdbcType=DECIMAL},
      project_value = #{projectValue,jdbcType=DECIMAL},
      other_collateral = #{otherCollateral,jdbcType=DECIMAL},
      receivable = #{receivable,jdbcType=DECIMAL},
      counter_party = #{counterParty,jdbcType=VARCHAR},
      repay_date = #{repayDate,jdbcType=DATE},
      pledge_stock = #{pledgeStock,jdbcType=VARCHAR},
      pledge_ratio = #{pledgeRatio,jdbcType=VARCHAR},
      other_pledge = #{otherPledge,jdbcType=VARCHAR},
      guarantor = #{guarantor,jdbcType=CHAR},
      guarantor_background = #{guarantorBackground,jdbcType=VARCHAR},
      guarantor_rating = #{guarantorRating,jdbcType=INTEGER},
      lisence = #{lisence,jdbcType=VARCHAR},
      org_inst_code = #{orgInstCode,jdbcType=VARCHAR},
      tax_reg = #{taxReg,jdbcType=VARCHAR},
      le_id = #{leId,jdbcType=VARCHAR},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      ac_approval = #{acApproval,jdbcType=VARCHAR},
      article = #{article,jdbcType=VARCHAR},
      captial_ver = #{captialVer,jdbcType=VARCHAR},
      credit_report = #{creditReport,jdbcType=VARCHAR},
      feasibility = #{feasibility,jdbcType=VARCHAR},
      audit_report = #{auditReport,jdbcType=VARCHAR},
      finance_statement = #{financeStatement,jdbcType=VARCHAR},
      data_expiration_date = #{dataExpierationDate,jdbcType=DATE}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByAssetsidSelective" parameterType="com.jinhui.model.IpoAsset" >
    update ipo_asset
    <set >
      <if test="lisence != null" >
        lisence = #{lisence,jdbcType=VARCHAR},
      </if>
      <if test="orgInstCode != null" >
        org_inst_code = #{orgInstCode,jdbcType=VARCHAR},
      </if>
      <if test="taxReg != null" >
        tax_reg = #{taxReg,jdbcType=VARCHAR},
      </if>
      <if test="leId != null" >
        le_id = #{leId,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="acApproval != null" >
        ac_approval = #{acApproval,jdbcType=VARCHAR},
      </if>
      <if test="article != null" >
        article = #{article,jdbcType=VARCHAR},
      </if>
      <if test="captialVer != null" >
        captial_ver = #{captialVer,jdbcType=VARCHAR},
      </if>
      <if test="creditReport != null" >
        credit_report = #{creditReport,jdbcType=VARCHAR},
      </if>
      <if test="feasibility != null" >
        feasibility = #{feasibility,jdbcType=VARCHAR},
      </if>
      <if test="auditReport != null" >
        audit_report = #{auditReport,jdbcType=VARCHAR},
      </if>
      <if test="financeStatement != null" >
        finance_statement = #{financeStatement,jdbcType=VARCHAR},
      </if>
      <if test="otherFile != null" >
        other_file = #{otherFile,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>