<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhui.mapper.assets.PeAssetChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.jinhui.model.PeAssetChangeHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="base_asset_id" jdbcType="INTEGER" property="baseAssetId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="change_type" jdbcType="CHAR" property="changeType" />
    <result column="receivable_debtor" jdbcType="VARCHAR" property="receivableDebtor" />
    <result column="asset_amount" jdbcType="DECIMAL" property="assetAmount" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="invoice_no" property="invoiceNo" jdbcType="VARCHAR" />
    <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    id, aid, base_asset_id, receivable_debtor, asset_amount,invoice_no,invoice_code, create_name, create_time, change_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pe_asset_change_history
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectListByAid" parameterType="com.jinhui.controller.assets.vo.ChangeHistoryVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pe_asset_change_history
    where aid = #{aid,jdbcType=INTEGER}
    <if test="beginTime != null and beginTime != ''">
      and create_time &gt;= #{beginTime}
    </if>
    <if test="endTime != null and endTime != ''">
      and create_time &lt; #{endTime}
    </if>
    order by id
  </select>

  <insert id="insertSelective" parameterType="com.jinhui.model.PeAssetChangeHistory">
    insert into pe_asset_change_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="baseAssetId != null">
        base_asset_id,
      </if>
      <if test="receivableDebtor != null">
        receivable_debtor,
      </if>
      <if test="assetAmount != null">
        asset_amount,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="1 == 1">
        create_time,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="baseAssetId != null">
        #{baseAssetId,jdbcType=INTEGER},
      </if>
      <if test="receivableDebtor != null">
        #{receivableDebtor,jdbcType=VARCHAR},
      </if>
      <if test="assetAmount != null">
        #{assetAmount,jdbcType=DECIMAL},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="1 == 1">
        now(),
      </if>
      <if test="changeType != null">
        #{changeType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <!-- 批量保存-->
  <insert id="insertBatchInit" parameterType="java.util.List">
    insert into pe_asset_change_history(aid,base_asset_id,receivable_debtor,asset_amount,invoice_no,invoice_code,create_time,create_name,change_type) values
      <foreach collection="list" separator="," index="index" item="item">
        (#{item.aid},#{item.baseAssetId},#{item.receivableDebtor},#{item.assetAmount},#{item.invoiceNo},#{item.invoiceCode},now(),#{item.createName},#{item.changeType})
      </foreach>
  </insert>
</mapper>