<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinhui.mapper.assets.PeBackpaymentRecordMapper" >
  <resultMap id="BaseResultMap" type="com.jinhui.model.PeBackpaymentRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trade_id" property="tradeId" jdbcType="VARCHAR" />
    <result column="receivable_debtor" property="receivableDebtor" jdbcType="VARCHAR" />
    <result column="trade_timestamp" property="tradeTimestamp" jdbcType="VARCHAR" />
    <result column="trade_time" property="tradeTime" jdbcType="DATE" />
    <result column="backpay_amount" property="backpayAmount" jdbcType="DECIMAL" />
    <result column="backpay_balance" property="backpayBalance" jdbcType="DECIMAL" />
    <result column="payer_account" property="payerAccount" jdbcType="VARCHAR" />
    <result column="payer_name" property="payerName" jdbcType="VARCHAR" />
    <result column="tade_bank_name" property="tadeBankName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trade_id, receivable_debtor, trade_timestamp, trade_time, backpay_amount, backpay_balance, 
    payer_account, payer_name, tade_bank_name, remark, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pe_backpayment_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pe_backpayment_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jinhui.model.PeBackpaymentRecord" >
    insert into pe_backpayment_record (id, trade_id, receivable_debtor, 
      trade_timestamp, trade_time, backpay_amount, 
      backpay_balance, payer_account, payer_name, 
      tade_bank_name, remark, status
      )
    values (#{id,jdbcType=INTEGER}, #{tradeId,jdbcType=VARCHAR}, #{receivableDebtor,jdbcType=VARCHAR}, 
      #{tradeTimestamp,jdbcType=VARCHAR}, #{tradeTime,jdbcType=DATE}, #{backpayAmount,jdbcType=DECIMAL}, 
      #{backpayBalance,jdbcType=DECIMAL}, #{payerAccount,jdbcType=VARCHAR}, #{payerName,jdbcType=VARCHAR}, 
      #{tadeBankName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jinhui.model.PeBackpaymentRecord" >
    insert into pe_backpayment_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="receivableDebtor != null" >
        receivable_debtor,
      </if>
      <if test="tradeTimestamp != null" >
        trade_timestamp,
      </if>
      <if test="tradeTime != null" >
        trade_time,
      </if>
      <if test="backpayAmount != null" >
        backpay_amount,
      </if>
      <if test="backpayBalance != null" >
        backpay_balance,
      </if>
      <if test="payerAccount != null" >
        payer_account,
      </if>
      <if test="payerName != null" >
        payer_name,
      </if>
      <if test="tadeBankName != null" >
        tade_bank_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="receivableDebtor != null" >
        #{receivableDebtor,jdbcType=VARCHAR},
      </if>
      <if test="tradeTimestamp != null" >
        #{tradeTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=DATE},
      </if>
      <if test="backpayAmount != null" >
        #{backpayAmount,jdbcType=DECIMAL},
      </if>
      <if test="backpayBalance != null" >
        #{backpayBalance,jdbcType=DECIMAL},
      </if>
      <if test="payerAccount != null" >
        #{payerAccount,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="tadeBankName != null" >
        #{tadeBankName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinhui.model.PeBackpaymentRecord" >
    update pe_backpayment_record
    <set >
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="receivableDebtor != null" >
        receivable_debtor = #{receivableDebtor,jdbcType=VARCHAR},
      </if>
      <if test="tradeTimestamp != null" >
        trade_timestamp = #{tradeTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        trade_time = #{tradeTime,jdbcType=DATE},
      </if>
      <if test="backpayAmount != null" >
        backpay_amount = #{backpayAmount,jdbcType=DECIMAL},
      </if>
      <if test="backpayBalance != null" >
        backpay_balance = #{backpayBalance,jdbcType=DECIMAL},
      </if>
      <if test="payerAccount != null" >
        payer_account = #{payerAccount,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        payer_name = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="tadeBankName != null" >
        tade_bank_name = #{tadeBankName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinhui.model.PeBackpaymentRecord" >
    update pe_backpayment_record
    set trade_id = #{tradeId,jdbcType=VARCHAR},
      receivable_debtor = #{receivableDebtor,jdbcType=VARCHAR},
      trade_timestamp = #{tradeTimestamp,jdbcType=VARCHAR},
      trade_time = #{tradeTime,jdbcType=DATE},
      backpay_amount = #{backpayAmount,jdbcType=DECIMAL},
      backpay_balance = #{backpayBalance,jdbcType=DECIMAL},
      payer_account = #{payerAccount,jdbcType=VARCHAR},
      payer_name = #{payerName,jdbcType=VARCHAR},
      tade_bank_name = #{tadeBankName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>